@font-face {
  font-family: 'Roboto';
  src: url('./Roboto.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'Roboto';
}

canvas {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 600px;
  height: 600px;
}